*{
    padding:0; margin:0;
    background-color:rgb(57 53 53);
    box-sizing: border-box;
}
h1{
    font-size:18px;
    margin-bottom: 10px;
}
input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
.container{
    padding: 20px 0px;
    height: 250px;
    width: 200px;
    margin: 100px auto;
    box-shadow: 2px 2px 2px rgb(108, 109, 109), -2px -2px 2px rgb(109, 110, 110);
    text-align: center;
    color:rgb(249, 252, 251);
}
.input-global{
    margin:10px 0px;
    width:40px;
    color:white;
}
.submitBtn{
    margin-bottom: 10px;
}
#resultado{
    display:inline-block;
    border: 1px solid white;
    padding:2px;
    margin-bottom:5px;
}


.imgs{
    width: 100px;
    height:100px;
    margin: 0 auto;
    
}
#img{
    width: 100%;
}
